@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --transition-props-slow: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  --transition-props-fast: 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-size: 18px;
}

:root.light {
  --bg: #fff;
  --subtle: #00000010;
  --fg: #000;
  --fgb: #fff;
  --input-bg: #eee;
  --input-border: #ccc;
  --primary: #000;
  --primary-subtle: #00000020;
  --primary-border: #000;
  --card: #fff;
  --card-odd: #fff;
  --card-border: #000;
  --link: #30f;
}

:root.dark {
  --bg: #111;
  --subtle: #ffffff10;
  --fg: #fff;
  --fgb: rgb(255, 255, 255);
  --input-bg: #222;
  --input-border: #222;
  --primary: #333;
  --primary-subtle: #ffffff20;
  --primary-border: #fff;
  --card: #111;
  --card-odd: #111;
  --card-border: #fff;
  --link: rgb(68, 227, 255);
}

:root.light-blue {
  --primary: #30f;
  --primary-subtle: #3300ff20;
  --primary-border: #30f;
  --link: #30f;
}

@layer base {
}

* {
  font-family: "Nunito", sans-serif;
  list-style: none;
  border: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--bg);
}

#root {
  @apply h-full;
}
